@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}
/* hero section container style start here  */
.hero-section-container{
    width: 1440px;
    height: 650px;
    margin: 0 auto;
    background-image: url(./my-first-assignment/assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-section
.Group-img{
    width: 240.28px;
    height: 240px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 42%;
}
.hero-section-titel{
    width: 998px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    line-height: 2;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 2;
}
.hero-section-titel 
h1{  font-size: 38px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    
}
.hero-section-titel 
p{  font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);

}
.hero-section-titel
button{
    width: 208px;
    height: 66px;
    
    margin: 32px 0px;
    background-color:rgb(13, 19, 33);
    /* border: 2px solid rgba(13, 19, 33); */
    border-radius: 8px;
}
.hero-section-titel 
button {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
}
/* hero section container style end here  */



/* second-section-container style start here  */
.second-section-container{
    width: 1140px;
    height: 1550px;
    background-color: rgb(252, 252, 252);
    margin: 0 auto;
    margin-bottom: 50px;
    
}
.container-titel{
    text-align: center;

}
.container-titel
h1{  font-size: 32px;
    font-weight: 800;
    line-height: 2;
    margin-top: 50px;

}
.container-titel
p{   font-size: 16px;
    font-weight: 400;

}
.leftside-rightside-control{
    display: flex;
    align-items: center; 
    padding: 80px 97px;
    gap: 97px;
}
.leftside-content{
    width: 477px;
    height: 230px;
    margin: 48px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.leftside-content 
h3{ font-size: 24px;
    font-weight: 800;
}
.leftside-content 
p{  font-size: 18px;
    font-weight: 400; 
    margin-top: 40px;

}
.leftside-content
button{ width: 146px;
    height: 50px;
    margin-top: 32px;
    background-color: black;
    border: 2px solid black;
    border-radius: 6px;

}
.leftside-content
button{
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.rightside-content{
    width: 274.17px;
    height: 227.01px;


}
.rightside-content
.rightside-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-section-control{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 97px;
    gap: 97px;
}
.second-leftside-container{
    width: 274.17px;
    height: 227.01px;
}
.second-rightside-container{
    width: 477px;
    height: 230px;
    margin: 48px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.second-rightside-container 
h1{  font-size: 24px;
    font-weight: 800;
   
}
.second-rightside-container 
p{  font-size: 18px;
    font-weight: 400; 
    margin-top: 40px;

}
.second-rightside-container 
button{  width: 146px;
    height: 50px;
    margin-top: 32px;
    background-color: black;
    border: 2px solid black;
    border-radius: 6px;

}
.second-rightside-container 
button{  font-size: 16px;
    font-weight: 600;
    color: white;

}
.third-section-control{
    display: flex;
    align-items: center; 
    padding: 80px 97px;
    gap: 97px;

}
.third-leftside-content{
    width: 477px;
    height: 230px;
    margin: 48px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.third-leftside-content
h1{ font-size: 24px;
    font-weight: 800;

}
.third-leftside-content
p{  font-size: 18px;
    font-weight: 400; 
    margin-top: 40px;
}
.third-leftside-content
button{ width: 146px;
    height: 50px;
    margin-top: 32px;
    background-color: black;
    border: 2px solid black;
    border-radius: 6px;
}
.third-leftside-content
button{ font-size: 16px;
    font-weight: 600;
    color: white;

}
/* second-section-container style end here  */



/* four-section-container styel stsrt here  */
.four-section-container{
    width: 1240px;
    height: 774px;
    margin: 0 auto;
    margin-top: 1700px;
    margin-bottom: 99px;

}
.four-section-control{
    padding: 20px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    
}
.four-section-content
h1{
    font-size: 42px;
    font-weight: 800;
    /* line-height: 2; */
}
.four-section-content
p{  font-size: 18px;
    font-weight: 400;
    margin-top: 40px;

}
.video-fream iframe{
    width: 1100px;
    height: 580px;
    border-radius: 15px;
    
}
/* skills-section-container style start here  */
.skills-container{
    display: flex;
    gap: 10px;
}
.skill{
    padding: 28px;
    border-radius: 3px;
    box-shadow: 0px 4px 30px 0px black;
    margin: 60px 50px;
}
.skill-bg{
    font-size: 22px;
    text-align: center;
}
.skill-bd{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
/* skills-section-container style send here  */
.fibth-section-container
{
    margin-top: 30px;
    width: 1140px;
    height: 314px;
    border: 2px solid red;
    margin: 0 auto;
    display: flex;
    position: relative;
}
.fibth-section-titel{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
}
.Contact-from{
    
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;   
}
.fibth-section-description{
   padding-bottom: 50px;
}

